.nav {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: $zIndexNav;

	opacity: 0;
	pointer-events: none;
	will-change: opacity;
	transition: opacity $transitionSpeedDefault $transitionEaseDefault;

	&--menu_active {
		opacity: 1;
		pointer-events: all;
	}
}

.nav-list {
	flex: 1 0 50%;
	text-align: right;
}

.nav-item {
	position: relative;
	display: inline-block;
	line-height: 1.1;
	padding: 0 pxToRem(16);
	margin: pxToRem(8);
}

.nav-effect {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	color: $colorWhite;
	padding: 0 pxToRem(16);
	pointer-events: none;
	z-index: 1;
	overflow: hidden;

	opacity: 0;
	will-change: opacity;
	transition: $transitionAllDefault;

	.nav-link--active + & {
		opacity: 1;

		& + div .image {
			opacity: 1;
		}
	}

	.nav--menu_item_hovered .nav-link--active + & {
		opacity: 0;

		& + div .image {
			opacity: 0;
		}
	}

	.nav--menu_item_hovered .nav-item:hover & {
		opacity: 1;

		& + div .image {
			opacity: 1;
		}
	}

	&:before {
		content: attr(item);
		display: block;
		position: absolute;
		top: 0;
	}
}

.nav-effect-text {
	position: absolute;
	top: 0;
	right: 16px;
}

.nav-details {
	flex: 1 0 50%;
	text-align: right;
}

.nav-description {
	max-width: 420px;
	padding: pxToRem(32);
	margin: 0 0 0 auto;
}

.nav-contact {
	color: $colorAccent500;
}




.image {
	position: fixed;
	z-index: -1;

	opacity: 0;
	transition: all 400ms ease-in-out;

	&-campos {
		right: 6vw;
		top: 12vh;
	}

	&-nous {
		left: 8vw;
		bottom: -1vh;
	}

}
