
html,
body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html {
	font-family: $fontStack;
	text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust:none;

	font-size: pxToRem($fontSize);
	line-height: 1.6;
}

.container {
	overflow: hidden;
}

section {
	//opacity: 0;
	// animation-duration: 1000ms;
	// animation-name: fade;
	// animation-iteration-count: 1;
}

@keyframes fade {
	from {
		transform: translate3d(0, 100px, 0);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background: $colorAccent500;
	color: $colorWhite;
}

::-webkit-selection {
	background: $colorAccent500;
	color: $colorWhite;
}

::-moz-selection {
	background: $colorAccent500;
	color: $colorWhite;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: currentColor;
	outline: none;
}

p {
	margin: pxToRem(24) 0;
}

strike {
	display: inline-block;
}

figure {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	cursor: pointer;
}

em {
	font-style: italic;
}

img {
	display: block;
}

strong {
	font-weight: $fontWeightBold;
}

svg {
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
