
// @import 'container';

@import 'components/header';

body {
	font-family: 'Fira Mono';
	background: whitesmoke;
}

.container {
	// display: flex;
}

.active {
	color: purple;
}



main,
nav {
	margin-top: 200px;
}
